*{
    box-sizing: border-box;
}
body{
    background: slategray;
}
#wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5em;
}
#register{
    width: 30%;
    display: flex;
    flex-direction: column;
    height: 30em;
    background: lavender;
}
#login{
    width: 30%;
    height: 20em;
    display: flex;
    flex-direction: column;
    background: lavender;
}
.wrap > h1{
    text-align: center;
}