*{
    box-sizing: border-box;
}
body{
    background: slategray;
}
#wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5em;
}
#register{
    width: 30%;
    height: 44em;
    display: flex;
    flex-direction: column;
    background: lavender;
    margin-right: 15em;
}
#login{
    width: 20%;
    height: 24em;
    display: flex;
    flex-direction: column;
    background: lavender;
}
.wrap > h1{
    text-align: center;
}