body{
    background: slategray;
}
.container{
    margin-top: 5em;
}
.jumbotron{
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
hr{
    margin-left: 0;
    margin-right: 0;
    width: 80%;
}
.tablecontainer{
    width: 80%;
    margin: 0 auto;
}
.idle{
    display: none;
}
.feedback{
    width: 18em;
    height: 18em;
}
.invalid{
    background: yellow;
    color: whitesmoke;
    border: solid .15em black;
    color: black;
    /* text-align: center; */
}
.near{
    background: skyblue;
    color: black;
    border: solid .15em black;
    /* font-size: x-large; */
    /* font-weight: bold; */
}
.success{
    background: forestgreen;
    color: whitesmoke;
    border: solid .15em black;
    /* font-size: x-large; */
    /* font-weight: bold; */
}
.low, .high, .lost{
    background: crimson;
    color: whitesmoke;
    border: solid .15em black;
    /* font-size: x-large; */
    /* font-weight: bold; */
}
div.feedback > h1, h2, p{
    position: relative;
    top: 25%;
    text-align: center;
    margin: 0 .5em;
}
form.playagain{
    display: none;
}