<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Games - Great Number Game</title>
    
    {% load static %}
    <script src="{% static 'assets/js/bootstrap.bundle.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style_numgame.css' %}">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Dojo Games</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Games
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/counter">Counter</a></li>
                            <li><a class="dropdown-item" href="/greatnumbergame">Great Number Game</a></li>
                            <li><a class="dropdown-item" href="/goldgame">Gold Game</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Tools
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/destroy_session">Reset Session (Caution!)</a></li>
                            <li><a class="dropdown-item" href="/counter/reset">Reset Counter</a></li>
                            <li><a class="dropdown-item" href="/greatnumbergame/reset">Reset Attempts</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/greatnumbergame/leaderboard">Leaderboard</a>
                    </li>
                </ul>
                <span class="navbar-text me-2">
                Visits: {{ request.session.visits}}
                </span>
                <span class="navbar-text">
                    Counter: {{ request.session.counter}}
                </span>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Leaderboard</h1>
            <p class="lead">May These Great Heroes be Honored for Eternity</p>
            <hr class="my-4">
            <p>Can you best these champions? Head over to the Great Number Game to test fate!</p>
            <div class="tablecontainer">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Entry</th>
                            <th scope="col">Player</th>
                            <th scope="col">Attempts</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in request.session.leaderboard %}
                        <tr class="table-primary">
                            <th>{{forloop.counter}}</th>
                            {% for key, val in entry.items %}
                            <td class="table-primary">{{val}}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>