<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Games - Great Number Game</title>
    
    {% load static %}
    <script src="{% static 'assets/js/bootstrap.bundle.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style_numgame.css' %}">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Dojo Games</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Games
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/counter">Counter</a></li>
                            <li><a class="dropdown-item" href="#">Great Number Game</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Tools
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/destroy_session">Reset Session</a></li>
                            <li><a class="dropdown-item" href="/counter/reset">Reset Counter</a></li>
                        </ul>
                    </li>
                </ul>
                <span class="navbar-text me-2">
                Visits: {{ request.session.visits}}
                </span>
                <span class="navbar-text">
                    Counter: {{ request.session.counter}}
                </span>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to the Great Number Game!</h1>
            <p class="lead">I am thinking of a number between 1 and 100...</p>
            <hr class="my-4">
            <p>Guess in under 5 attempts to secure your spot on the leaderboard, and attain eternal glory!</p>
            <div class="feedback {{request.session.guess_result}}"></div>
            <form action="/greatnumbergame/guess" method="POST">
                {% csrf_token %}
                <div class="input-group input-group-lg mt-3">
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name="guess">
                </div>
                <button class="btn btn-primary btn-lg mt-2" type="submit">Guess</button>
            </form>
        </div>
    </div>
</body>
</html>