body{
    background: slategray;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: rgba(200,80,80,.6);
    min-width: 86em;
    padding-top: 2em;
}
.spacing{
    width: 73%;
}
img{
    max-height: 18em;
}
footer{
    display: flex;
    justify-content: center;
}
a{
    color: darkred;
}
.card{
    background: burlywood;
}
textarea{
    width: 82em;
    height: 10em;
    color: black;
}
.positive{
    color: darkgreen;
}
.negative{
    color: brown;
}
.log{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textarea{
    overflow-y: auto;
    height: 15em;
    width: 86em;
    background: lemonchiffon;
}
.textarea p{
    margin: 0;
}
.card-body{
    height: 15em;
}
.gameend{
    display: none;
}
.youlost{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.youlost h1{
    color: black;
    font-size: 72pt;
}
.youwon{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.youwon h1{
    color: darkred;
    font-size: 72pt;
}